* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  font-family: Helvetica, san-serif;
}

.grid {
  box-sizing: content-box;
  padding: 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
   
}
 
.grid-cell--food2 {
	background-color: #10DBDC !important;
}
 
.grid-cell--snake {
  background-color: #10DBDC;
}

.snake-app {
  position: relative;
  margin: 10px auto;
}
.snake-app:focus {
  outline: none;
}

.snake-app__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

button {
  background-color: blue;
  color: white;
  border-radius: 3px;
  border: 2px solid blue;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px black;
}
.corner {
	animation: corner;
	animation-duration: 8s;
}
.corner2 {
	animation: corner2;
	animation-duration: 20s;
}
.corner3 {
	animation: corner2;
	animation-duration: 25s;

}
.cornerStatic {
	transition: 5s;
}
.cornerStatic.active {
	background-color: #10DBDC !important;
}
@keyframes corner2 {
	0% {
		
		background-color: #fff ;
	}
	90% {
		background-color: #10DBDC;
	}
	
	100% {
		background-color: #fff ;
	}
}

@keyframes corner {
	0% {
		
		background-color: #fff ;
	}
	80% {
		background-color: #10DBDC;
	}
	
	100% {
		background-color: #fff ;
	}
}